<div id="<%= dom_id noteslot %>">
  <p>
    <strong>Profile:</strong>
    <%= noteslot.profile_id %>
  </p>

  <p>
    <strong>Slot:</strong>
    <%= noteslot.slot_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= noteslot.note_id %>
  </p>

</div>
