<h1>Editing sublocation</h1>

<%= render "form", sublocation: @sublocation %>

<br>

<div>
  <%= link_to "Show this sublocation", @sublocation %> |
  <%= link_to "Back to sublocations", sublocations_path %>
</div>
