<div class="lg:flex">
  
  
  
      <div class="m-8">
        <ul class="list-none flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">
         
            
         
        
        </ul>
      </div>
   <div class="flex">
    <div class="mt-6">
    <%= image_tag '1impegno_logo.png', style:"height:60px;" %>
   </div>
    <div class="m-4">
     <%= link_to root_path  do %>
        <h3 class="text-black">1mpegno.it</h3>
        <p class="text-black">Benvenuto pronto a gestire il tuo stile di vita?</p>
        <% end %>
    </div>
  </div>
  
 <div class="mt-8">

<%= link_to "Accedi", new_user_session_path, class:"inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-purple-400 hover:bg-purple-700 hover:text-white focus:shadow-outline focus:outline-none m-2" %>

            <%= link_to "Registrati", new_user_registration_path, class:"inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-purple-400 hover:bg-purple-700 hover:text-white focus:shadow-outline focus:outline-none m-2" %>

</div>

  
</div>

