



  <div class="contenair bg-cover min-h-screen w-full flex justify-center items-center"
style="background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');'">
  
<!-- card -->
  <div class="w-1/2 bg-white p-5 rounded-xl bg-opacity-60 backdrop-filter backdrop-blur-lg">
    <div class="header-card flex justify-between font-semibold">
      <div class="">Profili Iscritti</div>
      <div class="flex items-center gap-x-1 text-sm text-blue-500">
         <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M1.181 12C2.121 6.88 6.608 3 12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392 0-9.878-3.88-10.819-9zM12 17a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm0-2a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
        </svg>
      <span></span>
      </div>
    </div>
    <!-- end header -->

    <div class="card-content divide-y flex flex-col gap-y-3 mt-5">
      <% Profile.all.each do |profile| %>
         
        
       
      <div class="card-content-profil flex justify-between items-center">
        <div class=" flex gap-x-2 items-center">
          <img class="avatar h-10 w-10 rounded-full border-4 border-opacity-40" 
            src=" <% if profile.avatar_url.size > 0%> <%= profile.avatar_url %><% else %>https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg<% end %>" alt="" >
          <div class="card-name-user text-xs">
          
              <h3 class="font-semibold"><%= profile.username %></h3>
          
            <div class=" flex items-center gap-x-1">
              <span class="h-3 w-3 rounded-full bg-green-500"></span>
              <span>Joined <%= profile.created_at.strftime("%d/%m/%Y") %></span>
            </div>
          </div>
        </div>

        <div class="card-action">
           <%= link_to  future_profile_path(profile) do %>
          <button class="flex items-center px-2 py-1 text-xs text-white bg-green-500 hover:bg-gray-600">
                <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"></path></svg>
            <span class="">Attività</span>
          </button>
            <% end %>
        </div>
      </div>
      <% end %>
     

     
    </div>

  </div>

<!-- BUY ME A BEER AND HELP SUPPORT OPEN-SOURCE RESOURCES -->
<div class="flex items-end justify-end fixed bottom-0 right-0 mb-4 mr-4 z-10">
    <div>
        <a title="Buy me a beer" href="https://www.buymeacoffee.com/emichel" target="_blank" class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
            <img class="object-cover object-center w-full h-full rounded-full" src="https://i.pinimg.com/originals/60/fd/e8/60fde811b6be57094e0abc69d9c2622a.jpg"/>
        </a>
    </div>
</div>
</div>