<h1>Editing prenotation</h1>

<%= render "form", prenotation: @prenotation %>

<br>

<div>
  <%= link_to "Show this prenotation", @prenotation %> |
  <%= link_to "Back to prenotations", prenotations_path %>
</div>
