<p style="color: green"><%= notice %></p>

<h1>Prenotations</h1>

<div id="prenotations">
  <% @prenotations.each do |prenotation| %>
    <%= render prenotation %>
    <p>
      <%= link_to "Show this prenotation", prenotation %>
    </p>
  <% end %>
</div>

<%= link_to "New prenotation", new_prenotation_path %>
